<template>
    <h1>${ "homepagetitle" | t }</h1>
    <p>${ "homepagemessage" | t }:</p>
    <ul>
        <li>
            <a href="https://get.asp.net/">ASP.NET Core</a> ${ "homepageand" | t } <a href="https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx">C#</a>

            ${ "homepagecsharp" | t }
        </li>
        <li>
            <a href="http://aurelia.io/">Aurelia</a> and <a href="http://www.typescriptlang.org/">TypeScript</a>
            ${ "homepagets" | t }
        </li>
        <li><a href="https://webpack.github.io/">Webpack</a> ${ "homepagewp" | t }</li>
        <li><a href="http://getbootstrap.com/">Bootstrap</a> ${ "homepagebs" | t }</li>
    </ul>
    <p>${ "homepagesetup" | t }</p>
   

    <p if.bind="!isLogin" class="alert alert-info"><em>
    ${ "homepageplease" | t }
    <a route-href="route: login;">${ "homepagelogin" | t }</a> ${ "homepageloginmessage" | t }
</em></p>
    <div if.bind="isLogin">
        <a route-href="route: addEditAsset;
                   params.bind: {id:0}">
            ${ "homepagenewasset" | t } 
        </a>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>${ "homepagetableassetname" | t }</th>
                    <th>${ "homepagetabledepartment" | t }</th>
                    <th>${ "homepagetablecd" | t }</th>
                    <th>${ "homepagetableed" | t }</th>
                    <th>${ "homepagetablepd" | t }</th>
                    <th>${ "homepagetablebr" | t }</th>
                    <th>${ "homepagetabledt" | t }</th>
                </tr>
            </thead>
            <tbody>
                <tr repeat.for="asset of assets">
                    <td>${ asset.id }</td>
                    <td>${ asset.assetName }</td>
                    <td>${ asset.department }</td>
                    <td>${ asset.countryOfDepartment }</td>
                    <td>${ asset.eMailAdressOfDepartment }</td>
                    <td>${ asset.purchaseDate }</td>
                    <td>${ asset.isBroken }</td>
                    <td>
                        <a route-href="route: addEditAsset;
                                   params.bind: {id:asset.id}" class="btn btn-info">
                            ${ "homepageget" | t }
                        </a>
                        <button type="button" class="btn btn-danger" click.trigger="delete(asset)">
                            ${ "homepagedelete" | t }
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
