<template>
    <h1>Assets</h1>

    <p if.bind="!assets"><em>Loading...</em></p>
    <a route-href="route: addasset;">
        Add New Asset
    </a>
    <table if.bind="assets" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Asset Name</th>
                <th>Department</th>
                <th>Country Of Department</th>
                <th>EMail Adress Of Department</th>
                <th>Purchase Date</th>
                <th>Broken</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="asset of assets">
                <td>${ asset.id }</td>
                <td>${ asset.assetName }</td>
                <td>${ asset.department }</td>
                <td>${ asset.countryOfDepartment }</td>
                <td>${ asset.eMailAdressOfDepartment }</td>
                <td>${ asset.purchaseDate }</td>
                <td>${ asset.isBroken }</td>
                <td>
                    <a route-href="route: assetdetail;
                                   params.bind: {id:asset.id}" class="btn btn-info">
                        Get
                    </a>
                    <button type="button" class="btn btn-danger" click.trigger="delete(asset)">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</template>
